// Placeholder to allow customizing styles.
.file-grid {
  background-color: transparent;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 18fr 4fr 3fr;
  align-items: center;
  column-gap: 1rem;
  * {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
  }

  .download-btn {
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
    text-decoration: none;
  }

  .file-btn {
    font-size: 1.3rem;
    background-color: transparent;
    border: none;
    align-self: center;
  }

  .file-name {
    overflow-wrap: anywhere;
  }
}

.file-row-container {
    display: contents;
    cursor: pointer;
}
    

