<div class="show-corner" style="padding: 1.2rem; flex: 1 1 0; min-width: 17rem;">
    <p><b>{{include.name}}</b></p>
    {% if include.img != nil %}
        <img src="{{site.baseurl}}/{{include.img}}" style="max-width: 100%; max-height: 100%; margin-left: auto; margin-right: auto;"/>
    {% endif %}
    <p>
        {{include.description}}
    </p>
    {% if include.rel_post != nil or include.rel_url != nil %}
    <p style="margin-bottom: 0; text-align: right;">
        {% if include.rel_post != nil %}<a href="{{site.baseurl}}/{{include.rel_post}}">Related post</a>{% endif %}
        {% if include.rel_url != nil %} <a href="{{include.rel_url}}">Demo</a>{% endif %}
    </p>
    {% endif %}
</div>
